// -*- mode: css -*-

@import "vendor"
@import url("http://fonts.googleapis.com/css?family=Junge|Quicksand:300")

// -- Layout -----------------------------------------------------------

#footer
  position: fixed
  bottom: 0px
  left: 0px
  height: 48px
  line-height: 48px
  width: 100%
  display: block
  background: -webkit-linear-gradient(bottom, #eee 40%, rgba(255, 255, 255, 0))
  background: -moz-linear-gradient(bottom, #eee 40%, rgba(255, 255, 255, 0))

  #copyright
    color: #888
    font-size: 0.9em
    position: absolute
    left: 50px

  #logo
    position: absolute
    right: 50px
    font-size: 36px
    font-family: Quicksand, sans-serif
    color: #4f4f4f
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.6)